/* for body */
/* font-family: "Libre Baskerville", serif; */
/* for footer, either use princess or barcode */
/* header either princess or cormorant */

:root {
  --primary-color: #171717;
  --secondary-color: mintcream;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font: "Cormorant Garamond", serif;
}

@font-face {
  font-family: "princess";
  font-weight: bold;
  src: url("../assets/fonts/princess-berlianty.regular.otf") format("opentype");
}

body {
  background: var(--primary-color);
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: var(--secondary-color);
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.hero h1 {
  color: var(--primary-color);
  /* letter-spacing: 2px; */
  position: relative;
  /* font-family: "princess", serif; */
  font-size: 9rem;
  font-family: var(--header-font);
  text-align: center;
}
.hero h1::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  /* letter-spacing: 2px; */
  overflow: hidden;
  white-space: nowrap;
  /* font-family: "princess", serif; */
  font-family: var(--header-font);
  font-size: 9rem;
  animation: animateh1 0.3s ease-in-out forwards;
}
.hero h1:hover {
  font-weight: 700;
  /* filter: drop-shadow(0 0 50px mintcream); */
}
@keyframes animateh1 {
  0% {
    /* height: 0; */
    opacity: 0%;
  }

  100% {
    /* height: 100%; */
    opacity: 100%;
  }
}
.hero h2 {
  font-family: var(--header-font);
  color: #171717;
  position: relative;
  font-size: 2.25rem;
}
.hero h2::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--header-font);
  font-size: 2.25rem;
  animation: animateh2 1.5s ease-in-out forwards;
}

@keyframes animateh2 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.hero p {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: 2.25rem;
  line-height: 1;
  animation: animateh1 0.3s ease-in-out forwards;
}

.hero .button {
  cursor: pointer;
  margin-top: 2rem;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: var(--header-font);
  text-decoration: none;
  font-weight: bold;
  color: mintcream;

  height: 55px;
  line-height: 50px;
  padding: 0 (32px);
  display: inline-block;
  width: 120px;
  background: #171717;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  top: 0;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.hero .button:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.7);
}
.hero .button:active {
  top: 6px;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
.hero .button:active:before {
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 3px rgba(20, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}
.hero .button:before {
  content: "";
  position: absolute;
  left: -3px;

  z-index: -1;
  border: 3px solid rgba(255, 255, 255, 0.8);
  top: 6px;
  border-radius: 10px;
  width: 120px;
  height: 55px;
  background: var(--primary-color);

  transition: all 0.1s ease-in-out;
}
/* second page */
.projects {
  cursor: none;
  font-family: var(--header-font);
}
.projects h1 {
  font-size: 5em;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}
.projects a {
  display: block;
  margin: 1.5rem auto;
  text-align: center;
  color: mintcream;
  text-decoration: none;
  font-size: 15px;
}
.projects a:hover {
  text-shadow: 0 0 10px rgb(186, 187, 186);
}
.projects .container {
  margin-left: 4rem;
}
.projects .block {
  position: relative;
  width: 30rem;
  height: 25rem;
  margin: 10px 300px 20px 80px;
}
.projects .block h2 {
  position: absolute;
  font-size: 3rem;
  font-family: var(--header-font);
  font-weight: lighter;
}

.projects .block img {
  object-fit: cover;
  background-repeat: no-repeat;
  width: 30rem;
  height: 25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #ffffff20;
}
.projects .block-1 h2,
.projects .block-2 h2,
.projects .block-3 h2 {
  bottom: -5rem;
  right: -3rem;
}
.projects .block .notes {
  position: absolute;
  top: 0;
  line-height: 1.5;
  right: -11.5rem;
  opacity: 0;
  transition: ease-in-out all 0.4s;
}
.projects .block .notes p {
  display: block;
  width: 10rem;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
  /* overflow-wrap: break-word; */
}

.projects .block-1:hover,
.projects .block-2:hover,
.projects .block-3:hover {
  transform: scale(1.05);
  transition: 0.6s;
  opacity: 1;
}

.projects .block-1:hover .notes,
.projects .block-2:hover .notes,
.projects .block-3:hover .notes {
  opacity: 1;
}
.projects .block-1:hover h2,
.projects .block-2:hover h2,
.projects .block-3:hover h2 {
  text-shadow: 0 0 20px rgb(186, 187, 186);
}
.projects .noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
  background: url(/assets/images/grain.gif);
  background-size: contain;
}
.projects .cursor {
  position: fixed;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
  background: #f7f7f750;
  transition: 250ms ease-out;
}
.projects .cursor .mouse {
  position: absolute;
  top: 24%;
  left: 1%;
  text-align: center;
  color: #090909;
  font-size: 0.04em;
  line-height: 1;
  /* text-transform: uppercase; */
  text-decoration: none;
  opacity: 0;
  font-weight: bold;
}

.projects .cursor.hover {
  transform: translate(-50%, -50%) scale(4);
  transition: transform 250ms ease-in-out;
  background: rgba(255, 255, 255, 0.92);
  /* mix-blend-mode: screen; */
  box-shadow: 0 0 5px #f7f7f7;
}
.projects .cursor.hover .mouse {
  opacity: 1;
}

/* conact page */
.contact-content {
  font-family: var(--header-font);
}
.contact-content h1 {
  text-transform: uppercase;
}
.contact-content a {
  text-decoration: none;
  color: mintcream;
}
.contact-content .btn {
  border-width: 0 !important;
}
.contact-content .btn:active {
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

/* header */
.navbar {
  font-family: var(--header-font) !important;
}

.bg-dark {
  background: var(--primary-color) !important;
}
