@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}

/* for body */
/* font-family: "Libre Baskerville", serif; */
/* for footer, either use princess or barcode */
/* header either princess or cormorant */

:root {
  --primary-color: #171717;
  --secondary-color: mintcream;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --header-font: "Cormorant Garamond", serif;
}

@font-face {
  font-family: "princess";
  font-weight: bold;
  src: url("../assets/fonts/princess-berlianty.regular.otf") format("opentype");
}

body {
  background: var(--primary-color);
  text-align: center;
  /* overflow: hidden; */
  /* margin: 0;
  padding: 0; */
  /* width: screen; */
  /* height: 100vh; */
  color: var(--secondary-color);
  /* display: flex;
  flex-direction: column; */
  /* min-height: 100vh; */
}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}
.hero h1 {
  color: var(--secondary-color);
  /* letter-spacing: 2px; */
  /* position: relative; */
  /* font-family: "princess", serif; */

  font-family: var(--header-font);
  text-align: center;
  animation: animateh1 0.7s ease-in-out forwards;
}

.hero h1:hover {
  font-weight: 700;
  /* filter: drop-shadow(0 0 50px mintcream); */
}
@keyframes animateh1 {
  0% {
    /* height: 0; */
    opacity: 0%;
  }

  100% {
    /* height: 100%; */
    opacity: 100%;
  }
}
.hero h2 {
  font-family: var(--header-font);
  color: #171717;
  position: relative;
  font-size: 2.25rem;
}
.hero h2::before {
  content: attr(data-text);
  position: absolute;
  text-align: center;
  color: var(--secondary-color);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-family: var(--header-font);
  font-size: 2.25rem;
  animation: animateh2 1.5s ease-in-out forwards;
}

@keyframes animateh2 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.hero p {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: 2.25rem;
  line-height: 1;
  animation: animateh1 0.3s ease-in-out forwards;
}

.hero .button {
  cursor: pointer;
  margin-top: 2rem;
  box-sizing: border-box;
  font-size: 1.2em;
  font-family: var(--header-font);
  text-decoration: none;
  font-weight: bold;
  color: mintcream;

  height: 55px;
  line-height: 50px;
  padding: 0 (32px);
  display: inline-block;
  width: 120px;
  background: #171717;
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  top: 0;
  transition: all 0.4s ease-in-out;
  position: relative;
}
.hero .button:hover {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.7);
}
.hero .button:active {
  top: 6px;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
}
.hero .button:active:before {
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 3px 3px rgba(20, 0, 0, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
}
.hero .button:before {
  content: "";
  position: absolute;
  left: -3px;

  z-index: -1;
  border: 3px solid rgba(255, 255, 255, 0.8);
  top: 6px;
  border-radius: 10px;
  width: 120px;
  height: 55px;
  background: var(--primary-color);

  transition: all 0.1s ease-in-out;
}
/* second page */

.projects a {
  display: block;
  margin: 1.5rem auto;
  text-align: center;
  color: mintcream;
  text-decoration: none;
  font-size: 15px;
}

.projects .block {
  position: relative;
  width: 30rem;
  height: 25rem;
  margin: 10px 300px 20px 80px;
  z-index: 1;
}

.project-1:hover h2,
.project-2:hover h2,
.project-3:hover h2 {
  text-shadow: 10px 1px 15px rgb(186, 187, 186);
}
.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  background: url(/assets/images/grain.gif);
  background-size: contain;
}
.cursor {
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
  background: #f7f7f750;
}

.cursor .mouse {
  position: absolute;
  top: 24%;
  left: 1%;
  text-align: center;
  color: #090909;
  font-size: 0.4em;
  line-height: 1;
  /* text-transform: uppercase; */
  text-decoration: none;
  opacity: 0;
  font-weight: bold;
}

.cursor.hover {
  transform: translate(-50%, -50%) scale(4);
  transition: transform 250ms ease-in-out;
  background: rgba(255, 255, 255, 0.92);
  /* mix-blend-mode: screen; */
  box-shadow: 0 0 5px #f7f7f7;
}
.cursor.hover .mouse {
  opacity: 1;
}

/* conact page */
.contact-content {
  font-family: var(--header-font);
}
.contact-content h1 {
  text-transform: uppercase;
}
.contact-content a {
  text-decoration: none;
  color: mintcream;
}

/* header */

/* footer */

/* about */
.about-content {
  position: relative;
  overflow-x: hidden;
  font-family: var(--header-font);
  /* margin: 2rem 10rem; */
  z-index: 1;
}

.about-content a:hover {
  font-weight: bold;
  text-shadow: 0 0 5px rgb(186, 187, 186);
}
svg {
  width: 45%;
  filter: blur(10px);
  position: absolute;
  background: transparent;
}

svg path {
  transition: 1.5s all ease-in-out;
  z-index: -1;
}

svg:hover path {
  d: path(
    "M397.2027972027972 276.9230769230769C650 0 895.1048951048951 462.93706293706293 400 700 -95.10489510489509 462.93706293706293 150 0 397.2027972027972 276.9230769230769Z"
  );
  fill: url(#my-cool-gradient) #447799;
}
.ha {
  animation: move 15s infinite alternate;
  z-index: -1;
}
@keyframes move {
  0% {
    transform: translate(1rem, 30px) rotate(-10deg) scale(0.75);
  }
  50% {
    transform: translate(-2rem, 5px) rotate(0deg) scale(0.9);
  }
  100% {
    transform: translate(10rem, -2px) rotate(10deg) scale(0.75);
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero h1::before {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1.25rem;
  }
  .hero h2::before {
    font-size: 1.25rem;
  }
  .hero p {
    font-size: 1.25rem;
  }
}
